<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335077763653-4ofnrpo3pebsdrr99cfkq104n9dun4j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335077763653-4ofnrpo3pebsdrr99cfkq104n9dun4j6</string>
	<key>API_KEY</key>
	<string>AIzaSyBsbT9BE8C7EClibAw9dHTt8VEhkQfLSwE</string>
	<key>GCM_SENDER_ID</key>
	<string>335077763653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plzwork</string>
	<key>PROJECT_ID</key>
	<string>test-project-123842</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-123842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335077763653:ios:c2a1df2118ab1ce26b112c</string>
</dict>
</plist>